@import "../../styles/themes";

.wrapper {
  height: 24px;
  width: 24px;
  background-color: red;
  border-radius: 50%;
  color: $white;
  display: inline-flex;
  justify-content: center;
  margin: 0 16px;
}
