@import "../../styles/themes";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 10.8px;
  cursor: pointer;
  color: $light;
  border-radius: 1000px;
  pointer-events: all;
  border-width: 0px;
  border: 1px solid transparent;

  > svg {
    margin-right: 5px;
  }

  &:focus {
    outline: none;
  }

  &.primary {
    color: $salmon;
    border: 1px solid transparent;
    background-color: $primary;
    border: solid 1px rgba(255, 255, 255, 0.16);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);

    &:hover {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    }
  }

  &.accentPrimary {
    color: $white;
    border: 1px solid transparent;
    background-color: $salmon;
    border: solid 1px rgba(255, 255, 255, 0.16);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);

    &:hover {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    }
  }

  &.secondary {
    background-color: transparent;
    color: $salmon;
  }

  &.disabled {
    background-color: $white;
    border-color: $dark;
    color: $dark;
    cursor: not-allowed;
    opacity: 0.6;
  }

  &.small {
    padding: 9.5px 16px;
  }

  &.large {
    padding: 14px 26px;
  }
  &.full {
    width: 100%;
    padding: 15px 26px;
  }
}
