$white: #ffffff;
$light: #f1eff3;
$dark: #191919;
$primary: #dbff90;
$very-light-pink: #fff3f2;
$bluey-grey: #9198af;
$salmon: #fa7268;
$pale-lilac: #e4e7f4;
$dark: #2a2d3b;
$cloudy-blue: #c0c3d2;
$white: #e1e1e1;
$white-two: #ffffff;
