.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;

  .form {
    width: 72%;
  }
  .inputSearch {
    width: -webkit-fill-available;
    border-radius: 4px;
    background-color: #e4e7f4;
    border: none;
    padding: 8px;
  }
}
