@import "../../styles/themes";

table {
  border-radius: 4px;
  border: 1px solid $white;
  background-color: $white-two;
  border-collapse: collapse;
  margin: 16px;

  thead {
    th {
      font-weight: normal;
      color: $bluey-grey;
      text-align: start;
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: $very-light-pink;
      }
    }
  }

  tr {
    height: 40px;
    border-bottom: 1px solid $white;
  }
  .highlightedRow {
    background-color: $very-light-pink;
  }

  .actionButton {
    background-color: transparent;
    border: none;
    margin-right: 25px;
    cursor: pointer;
  }
}
